header{
    min-height: 7vh;
    background-color: darkslategrey;
}
.jumbotron{
    min-height: 50vh;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-container{
    width: 70vw;
    min-height: 5vh;
    background-color: darkseagreen;
    display: flex;
}
.lft-jumb-sd{
    width: 40%;
    height: 287px;
    background-color: black;
}
.rgt-jumb-sd{
    width: 60%;
    height: 287px;
    background-color:steelblue;
}

.plan{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50vw;
    min-height: 20vh;
    background-color: rgb(38, 81, 85);
    margin-bottom: 30px;
}
.col-cont{
    /*background-color: darkseagreen;*/
    display: flex;
    justify-content: space-between;
}
.col{
    width: calc((100% / 3) - 20px);
    min-height: 60vh;
    background-color: cadetblue;
}
span{
    text-align: center;
}
.enter-lft{
    width: 70%;
    min-height: 30vh;
    background-color: cadetblue;
}
.enter-rgt{
    width: 30%;
    min-height: 30vh;
    background-color: rgb(99, 82, 118);
}
.partner-lft{
    width: 60%;
    min-height: 40vh;
    background-color: rgb(99, 82, 118);
}
.partner-rgt{
    width: 40%;
    min-height: 40vh;
    background-color: cadetblue;
}
h2{
    text-align: center;
}
.card{
    width: calc((100% / 3) - 10px);
    min-height: 20vh;
    background-color: darkseagreen;
    border: 1px solid black;
}
.card-bott-text{
    margin: 50px 0;
}
.squares{
    width: 100%;
    height: 50vh;
    background-color: blueviolet;
}
.big-square{
    width: calc(100% / 3);
    /*height:30vh*/
    border: 3px solid white;
    background-color: cadetblue;
}
.lttle{
    width: 50%;
    min-height: 15vh;
    background-color: olivedrab;
    border: 1px solid white;
}
.scroll-txt{
    overflow: auto;
}

.prova-gratuita{
    background-color: lightslategray;
    margin-top: 30px;
}
.testo-lft{
    width: 50%;  
}

.testo-rgt{
    width: 50%;
}
footer{
    width: 100%;
    height: 20vh;
    background-color: cornflowerblue;
}