   /***Text Details***/
h1{
    font-size: 60px;
    font-weight: 800;
}
h3{
    font-size: 15px;
}
b{
    font-size: 13px;
}
span{
    font-size: 15px;
    display: block;
    color: rgb(103, 103, 103);
}
.angle{
    color: #0061ff;
}
 /***Link e Button***/
 .btn{
    color: white;
    background-color: #0061ff;
    padding: 3px 10px;
}
.btn:hover{
    opacity: 0.5;
    border: 2px solid #2e7dfd;
}
.btn:active{
    background-color:darkcyan;
}
.btn-white{
    color: black;
    background-color: white;
    border: 1px solid gray;
}
.btn-white:hover{
    color: rgba(128, 128, 128, 0.735);
    border: 1px solid black;
}
.btn-white:active{
    background-color: darkseagreen;
}
a{display: block;}
.ablue{
    color: #0061ff;
    text-decoration: underline;
}

     /**Header**/

header{
    min-height: 3em;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: white;
    box-shadow: 0 1px 2px grey;
    /*background-color: darkslategrey;*/
}
.whydrop:hover , .function:hover , .prices:hover , .support:hover , .office:hover , .login:hover{
   border-bottom: 2px solid black;
}
 
     /***Main***/
main{
    padding-top: 3em;
}
.big-container{
    width: 60em; /*60vw;*/
    min-height: 5em;
}
.container{
    width: 50em;
    min-height: 2.7em;
    margin-bottom: 30px;
}
    /***Jumbo***/
.jumbotron{
    min-height: 1.6em; /**50vh**/
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumb-cont{
    width: 100%;
    min-height:  18em;
}
.lft-jumb-sd{
    width: 40%;
    min-height: 18em;
}
.rgt-jumb-sd{
    width: 60%;
    min-height: 18em;
}
.Jumbo{
    width: 80%;
    margin-top: 30px;
}
.freccia{
    font-size: 40px;
    display: block;
}
.start{
    display: inline-block;
}
   /***Plans***/
.radio{
    background-color: white;
    border-radius: 50%;
    border: 1px solid gray;
    appearance: none;
    width: 0.8125em;
    height: 0.8125em;
    text-align: center;
}
.radio:checked{
    border: 3px solid blue;
}
.plan{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    width: calc((100% / 3) - 20px);
    min-height: 40.5em;
    border: 1px solid gray
}
.plans>h4{
    text-align: center;
    padding: 10px 0;
}
    /**Enterprise**/
.enterprise{
    border: 1px solid gray;
}
.enter-lft{
    width: 70%;
    min-height: 20.25em;
}
.enter-rgt{
    width: 30%;
    min-height: 20.25em;
}
   /**Partners**/
.partner-img{
    width: 100%;
}
.partner-lft{
    width: 60%;
    min-height: 27em;
}
.partner-rgt{
    width: 40%;
    min-height: 27em;
}
   /**Cards**/
.card{
    width: calc((100% / 3) - 10px);
    min-height: 6.75em;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
   /***Squares***/
.squares{
    width: 100%;
    height: 40.5em;
}
.big-square{
    width: calc(100% / 3);
}
.lttle{
    width: 50%;
    height: 50%;
}
.florida{
    height: 20%;
}
.scroll-txt{
    overflow: auto;
}
.scroll-cont{
    width: 80%;
    height: 100%;
}
  /**Bottom Squares**/
.testo-lft{
    width: 50%;  
}

.testo-rgt{
    width: 50%;
}
      /***Quest***/
.quest:hover{
    overflow: visible;
    background-color: white;
    min-height: 300px;
}
.quest-angle:hover{
    transform: rotate(180deg);
}
.quest{
    height: 60px;
    overflow: hidden;
}
   /**Footer**/
footer{
    width: 100%;
    min-height: 13.5em;
    background-color: cornflowerblue;
}
.foot-column{
    line-height:1.5;
}
li{
    color:white;
    list-style: none;
    font-size: 10px;
    padding-bottom: 5px;
}
#lingue{
    background-color: black;
    color: white;
    border: none;
}
#lingue>option{
    color: white;
}