header{
    min-height: 7vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: white;
    box-shadow: 0 1px 2px grey;
    /*background-color: darkslategrey;*/
}
.whydrop:hover , .function:hover , .prices:hover , .support:hover , .office:hover , .login:hover{
   border-bottom: 2px solid black;
}
  /***Link e Button***/
.btn{
    color: white;
    background-color: #0061ff;
    padding: 3px 10px;
}
.btn:hover{
    opacity: 0.5;
    border: 2px solid #2e7dfd;
}
.btn:active{
    background-color:darkcyan;
}
.btn-white{
    color: black;
    background-color: white;
    border: 1px solid gray;
}
.btn-white:hover{
    color: rgba(128, 128, 128, 0.735);
    border: 1px solid black;
}
.btn-white:active{
    background-color: darkseagreen;
}
a{display: block;}
.ablue{
    color: #0061ff;
    text-decoration: underline;
}
    /***Text Details***/
h1{
    font-size: 60px;
    font-weight: 800;
}
     /***Main***/
main{
    padding-top: 7vh;
}
.big-container{
    width: 60vw;
    min-height: 5vh;
}
.jumbotron{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumb-cont{
    width: 100%;
    min-height:  287px;
}
.lft-jumb-sd{
    width: 40%;
    min-height: 287px;
}
.freccia{
    font-size: 40px;
    display: block;
}
.start{
    display: inline-block;
}
.radio{
    background-color: white;
    border-radius: 50%;
    border: 1px solid gray;
    appearance: none;
    width: 13px;
    height: 13px;
    text-align: center;
}
.radio:checked{
    border: 3px solid blue;
}
.quest:hover{
    overflow: visible;
    background-color: white;
    min-height: 300px;
}
.quest-angle:hover{
    transform: rotate(180deg);
}
.quest{
    height: 60px;
    overflow: hidden;
}
.rgt-jumb-sd{
    width: 60%;
    min-height: 287px;
}
.Jumbo{
    width: 80%;
    margin-top: 30px;
}

.plan{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50vw;
    min-height: 20vh;
    margin-bottom: 30px;
}
/*.col-cont{
    display: flex;
    justify-content: space-between;   
}*/
.col{
    width: calc((100% / 3) - 20px);
    min-height: 60vh;
    border: 1px solid gray
}
.plans>h4{
    text-align: center;
    padding: 10px 0;
}
h3{
 font-size: 15px;
}
b{
    font-size: 13px;
}
.hr-small{
    width: 50px;
}
span{
    font-size: 15px;
    display: block;
    color: rgb(103, 103, 103);
}
.angle{
    color: #0061ff;
}
.enterprise{
    border: 1px solid gray;
}
.enter-lft{
    width: 70%;
    min-height: 30vh;
}
.enter-rgt{
    width: 30%;
    min-height: 30vh;
}
.partner-img{
    width: 100%;
}
.partner-lft{
    width: 60%;
    min-height: 40vh;
    /*background-color: rgb(99, 82, 118);*/
}
.partner-rgt{
    width: 40%;
    min-height: 40vh;
    /*background-color: cadetblue;*/
}
h2{
    text-align: cent
}
.card{
    width: calc((100% / 3) - 10px);
    min-height: 10vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.card-bottom-text{
}
.squares{
    width: 100%;
    height: 60vh;
}
.big-square{
    width: calc(100% / 3);
}
.lttle{
    width: 50%;
    height: 50%;
}
.florida{
    height: 20%;
}
.scroll-txt{
    overflow: auto;
}

.testo-lft{
    width: 50%;  
}

.testo-rgt{
    width: 50%;
}
footer{
    width: 100%;
    min-height: 20vh;
    background-color: cornflowerblue;
}
.quest:hover{

}
.foot-column{
    padding: 5vh;
}
li{
    color:white;
    list-style: none;
    font-size: 10px;
    padding-bottom: 5px;
}
#lingue{
    background-color: black;
    color: white;
    border: none;
}
#lingue>option{
    color: white;
}
