/****html
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/utilities.css">
    ****/


*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
  }
  body{
    font-family: 'Open Sans', sans-serif;}
  
  .fix{position: fixed;}
  
  
  .d-flex{display: flex;}
  .jcont-cent{justify-content: center;}
  .jcont-betw{justify-content: space-between;}
  .jcont-arnd{justify-content: space-around;}
  .jcont-end{justify-content: flex-end;}
  .f-wrap{flex-wrap: wrap;}
  .alg-items{align-items: center;}
  .flex-di-col{flex-direction: column;}

  .pos-rel{
      position: relative;
  }
  .pos-abs{
      position: absolute;
  }
  
     /*width %*/
  .w{width: 100%;}
  .w-20{width: 20%;}
  .w-25{width: 25%;}
  .w-30{width: 30%;}
  .w-40{width: 40%;}
  .w-50{width: 50%;}
  .w-60{width: 60%;}
  .w-70{width: 70%;}
  .w-80{width: 80%;} 
  
     /*width in Px*/
  .w10{width: 10px;}
  .w-h20 {width: 20px;
          height: 20px;}
  .w25{width: 25;}
  
     /*Colors*/
  
  .black{background-color: black}
  .gray{background-color: gray;}
  .white{color: white;}
  .darkseagreen{background-color: darkseagreen;}
  
     /*Margin*/
  .mt-5{margin-top: 5px;}
  .mb-5{margin-bottom: 5px;}
  .mtb-5{margin-top: 5px 0;}
  .mr-5{margin-right: 5px;}
  .ml-5{margin-left: 5px;}        
  .mt-10{margin-top: 10px;} 
  .mb-10{margin-bottom: 10px;} 
  .ml-10{margin-left:10px}
  .ml-15{margin-left: 15px;}  
  .mr-15{margin-right: 15px;} 
  .mtb-15{margin: 15px 0;} 
  .mt-20{margin-top: 20px;}
  .mb-20{margin-bottom: 20px;}
  .mt-50{margin-top: 50px;}
  .ml-50{margin-left: 50px;}
  .mt-130{margin-top: 130px;}
  
       /*Padding*/
  
  .padd{padding: 5px;}
  .pr-5{padding-right: 5px;}
  .p-angle{padding: 5px 5px 0 5px}
  .pt-5{padding-top: 5px;}
  .ptb-7{padding: 7px 0;}
  .pl-10{ padding-left: 10px;}
  .ptb-10{padding-top: 10px;
          padding-bottom: 10px;}
  .pb-10{padding-bottom: 10px;}
  .pb-15{padding-bottom: 15px;}        
  .pt-20{padding-top: 20px;}
  .pb-20{padding-bottom: 20px;}
  .ptb-20{ padding: 20px 0;}
  .pt-30{padding-top: 30px;}
  .pt-40{padding-top: 40px;}
  .pb-40{padding-bottom: 40px;}
  .pt-50{padding-top: 50px;}
  .pt-80{padding-top: 80px;} 
  .pb-80{padding-bottom: 80px;} 
  .pb-100{padding-bottom: 100px;} 


      /*Text Details*/
  .wei-bold{font-weight: bold;}
  .txt-alg{text-align: center;}
  .norober{border: none;}
  .txt-w2{font-weight: 200;}
  .txt-w7{font-weight: 700;}
  .txt-w8{font-weight: 800;}
  .fs-13{font-size: 13px;}
  .fs-15{font-size: 15px;}
  
  
    /**Icon**/
  .ic{filter: invert(1);}
  i{color: white;}
    /***Link Style***/
  a{text-decoration: none;
    color:black;}
  .buynow {
    text-decoration: underline;
    color: rgb(0, 89, 255);
  }

  
  