/****html
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/utilities.css">
    ****/


*{margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{background-color : rgb(116, 116, 116);
      font-family: 'Inclusive Sans', sans-serif;}
  
  
  
  
  .d-flex{display: flex;}
  .jcont-cent{justify-content: center;}
  .jcont-betw{justify-content: space-between;}
  .jcont-arnd{justify-content: space-around;}
  .jcont-end{justify-content: flex-end;}
  .f-wrap{flex-wrap: wrap;}
  .alg-items{align-items: center;}
  .flex-di-col{flex-direction: column;}

  .pos-rel{
      position: relative;
  }
  .pos-abs{
      position: absolute;
  }
  
     /*width %*/
  .w{width: 100%;}
  .w-20{width: 20%;}
  .w-25{width: 25%;}
  .w-30{width: 30%;}
  .w-40{width: 40%;}
  .w-50{width: 50%;}
  .w-60{width: 60%;}
  .w-70{width: 70%;}
  .w-80{width: 80%;} 
  
     /*width in Px*/
  .w10{width: 10px;}
  .w-h20 {width: 20px;
          height: 20px;}
  .w25{width: 25;}       
  .gray{background-color: gray;}
  .black{background-color: black}
  .white{color: white;}
  {background-color:rgb(246, 246, 246);}
  
     /*Margin*/
  .mt-5{margin-top: 5px;}
  .mb-5{margin-bottom: 5px;}
  .mbt-5{margin-top: 5px;
          margin-bottom: 5px;}
  .mr-5{margin-right: 5px;} 
  .mbtr-5{margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;}
        
  .mt-10{margin-top: 10px;}      
  .mt-20{margin-top: 20px;}
  
       /*Padding*/
  
  .padd{padding: 5px;} 
  .px{padding:0 3px;} 
  .pt-30{padding-top: 30px;}  
  .pb-100{padding-bottom: 100px;} 
      /*Text Details*/
  .wei-bold{font-weight: bold;}
  .txt-alg{text-align: center;}
  .norober{border: none;}
  
    /**Icon**/
  .ic{filter: invert(1);}
  i{color: white;}
    /***Link Style***/
  a{text-decoration: none;
    color:white;}